:root{
    --color-primary: #fafafa;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-employ{
    max-height: 180px !important;
    max-width: 180px !important;
    min-height: 180px !important;
    min-width: 180px !important;
}